body {
    margin: 0;
    background-color: black;
    color: #dddddd;
    -webkit-animation-name: bcolchange;
    -webkit-animation-duration: 10s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: bcolchange;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-align: center;
}
#mid{
    width: 60%;
    left:20%;
    position: absolute;
    background-color: aqua;
}



#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: auto;
}

#headerback {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.5;
    background-color: #111111;
    height: 100px;
    width: 100%;
    position: absolute;
}

#main {
    margin-top: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width:100%;
}

.flex-container>a>div {
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #d6d6d6;
    text-decoration: none;
}

.flex-container>a:hover {
    border-bottom: 10px coral solid;
}

.flex-container>a {
    text-decoration: none;
}

.active{
    color:yellow;
}

@-webkit-keyframes bcolchange {
    0% {
        background-color: black;
    }
    100% {
        background-color: #222222;
    }
}

/* Standard syntax */

@keyframes bcolchange {
    0% {
        background-color: black;
    }
    100% {
        background-color: #222222;
    }
}